

.pie {
 background-color:;

}


#map { 
  height: 300px;
  width: auto;
  border: 5px;
 }

 .box {
  background-image: linear-gradient(to bottom right, #225F79, #0772A1);
  padding: 0.7em;
  height: 405px;
  text-align: center;
  font-weight: bold;
  width: 550px;
  margin: 15px 1em 15px 1em;
  border-radius: 5px
}

