@import url('https://fonts.googleapis.com/css?family=B612+Mono:400,700|B612:400,700&display=swap');


h3, h4, h5, h6, a, span, body  {
    font-family: 'B612', serif;
    font-family: 'B612 Mono', sans-serif;   
}

h2 {
    font-family: 'B612';
    font-weight: 700;
}

p {
    font-family: 'B612';
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.7em;
}

#fact {
    color: #000000;
    text-align: center;
}


/*-- CARD STYLE --*/

.title {
    margin: auto;
}

.card-header {
    text-align: center;
}

.introduction {
    text-align: center;
    padding-top: 1rem;
}

#map { 
  height: 300px;
  width: auto;
  border: 5px;
 }

 /* Added because screen was streching when on mobile --*/

.table-responsive {
    overflow-x: inherit;
     }


#prev, #next {
    background-color: #ffc107;
}

/*---- BACK-TO-TOP  ----*/

#back-to-top, #refresh-chart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    -webkit-transition: background-color .3s, 
      opacity .3s, visibility .5s;
    -o-transition: background-color .3s, 
      opacity .3s, visibility .5s;
    transition: background-color .3s, 
      opacity .3s, visibility .5s;
  }


  #back-to-top:hover, #refresh-chart {
    cursor: pointer;
  }

  #back-to-top.show, #refresh-chart.show {
    opacity: 1;
    visibility: visible;
  }



/*--- NAVBAR STYLE ---*/


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* --- SIDEBAR STYLE --- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: url('../images/forest.png');  
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: scroll;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #000000;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #ffc107;
    color: #000000;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffc107;
    font-family: 'B612';
    font-weight: 700;
    color: #000000;
    
}

.sidebar-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* ----- CONTENT STYLE ----- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
